.fl,
.fl:focus,
.fl:hover,
a,
a:focus,
a:hover
 {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    
    user-select: none;
}


html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}
body {
    background-color: #000;
    color: #fff;
    font-size:13pt;
    font-family: "Courier New", Courier, monospace;
}

.content {
    position: relative;
    padding-left: 8px;
    padding-right: 8px;
    margin: 0 auto;
    height:100%;
    max-width:512px;
    text-shadow: -1px -1px 0px #000, 1px -1px 0px #000, -1px 1px 0px #000, 1px 1px 0px #000,
                 -1px -1px 3px #000, 1px -1px 3px #000, -1px 1px 3px #000, 1px 1px 3px #000,
                 -1px -1px 3px #000, 1px -1px 3px #000, -1px 1px 3px #000, 1px 1px 3px #000,
                 -1px -1px 3px #000, 1px -1px 3px #000, -1px 1px 3px #000, 1px 1px 3px #000,
                 -1px -1px 3px #000, 1px -1px 3px #000, -1px 1px 3px #000, 1px 1px 3px #000,
                 -1px -1px 3px #000, 1px -1px 3px #000, -1px 1px 3px #000, 1px 1px 3px #000,
                 -1px -1px 3px #000, 1px -1px 3px #000, -1px 1px 3px #000, 1px 1px 3px #000;
}
.disp
{
    border-top:8px solid #000;
    width:100%;
    height:45%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.bg
{
    position: absolute;
    width:100%;
    height:100%;
    background-color: #000;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
ul {
  list-style: none;
}

li > p {
    display: inline;
}

ul > li:before {
    content: '\2022';
    display: inline-block;
    width: 1em;
    margin-left: -1em;
    text-align: center;
    text-shadow: -1px -1px 0px #000, 1px -1px 0px #000, -1px 1px 0px #000, 1px 1px 0px #000,
                 -1px -1px 3px #000, 1px -1px 3px #000, -1px 1px 3px #000, 1px 1px 3px #000,
                 -1px -1px 3px #000, 1px -1px 3px #000, -1px 1px 3px #000, 1px 1px 3px #000,
                 -1px -1px 3px #000, 1px -1px 3px #000, -1px 1px 3px #000, 1px 1px 3px #000,
                 -1px -1px 3px #000, 1px -1px 3px #000, -1px 1px 3px #000, 1px 1px 3px #000,
                 -1px -1px 3px #000, 1px -1px 3px #000, -1px 1px 3px #000, 1px 1px 3px #000,
                 -1px -1px 3px #000, 1px -1px 3px #000, -1px 1px 3px #000, 1px 1px 3px #000;
}